.title {
  opacity: 0.8;
  font-family: cardo;
  font-size: 25px;
  letter-spacing: 2.2px;
  color: #000000;
}

.form-control {
  border: 1px solid #7b3f00;
}

.fPassword {
  color: #4441f5;
}
.btn {
  background-color: #7b3f00;
  color: #ffffff;
  width: 100%;
  border-radius: 25px;
}
