<div class="container-fluid">
    <div class="row">

        <div class="col-3">
        </div>
        <div class="col-6">
            <form [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>
                <br>
                <br>
                <br>
                <br>
                <div class="text-center">
                    <p class=" title text-center">HimaLancers</p>
                    <hr>
                </div>
                <br>
                <br>
                <br>
                <br>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="text" class="form-control" formControlName="email" placeholder="123@gmail.com"
                        required />
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" formControlName="password" placeholder="Password"
                        required />
                </div>

                <div class="form-group text-Password text-right">
                    <p> <a routerLink="/forgotpassword" class="link-warning">Forgot password?</a></p>

                </div>
                <div class="form-group text-center">
                    <button type="submit" class="btn">
                        LOGIN</button>

                </div>
                <br>
                <hr>
                <div class="registerLink">
                    <p>Don't have an account? <a class="link" (click)="goToRegister()"><span>Register Now</span></a></p>
                </div>
            </form>
        </div>
        <div class="col-3">

        </div>
    </div>
</div>